@import '_view-ports.scss';
@import '_mixin.scss';

#news-feed {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
    padding: 4rem 1rem;
}

@include tablet {
    #news-feed {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}

@include desktop {
    #news-feed {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.4rem;
    }
}
