@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import '_view-ports.scss';
@import '_utility.scss';
@import '_colors.scss';
@import '_header.scss';
@import '_news-feed.scss';
@import '_news-card.scss';
@import '_footer.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

main {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}
